.MainPage{
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.MainPage nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    padding: 1% 4%;
    border-bottom: solid 2px red;
    position: sticky;
    top: 0;
    z-index: +5;
    background-color: black;
    width: 100%;
}
.MainPage nav .logo{
   height: fit-content;
   margin: auto 0;
   width: fit-content;
}
.MainPage nav .logo a{
    text-decoration: none;
    font-weight: 700;
    color: red;
    transition: all .4s;
}
.MainPage nav .logo a:after {
    display:block;
    content: '';
    border-bottom: solid 2px red;  
    transform: scaleX(0);  
    transition: all 250ms;
  }
  .MainPage nav .logo a:before{
    position:absolute;
    bottom:1.2em; left:0;
    width:100%;
  }
.MainPage nav .logo a:hover:after { 
    transform: scaleX(1); 
}
.MainPage nav form input{
    border: solid 2px red;
    padding: 6% 6%;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-weight: 600;
    transition: all .4s;
    width: 100%;
}
.MainPage nav form input:focus{
    outline: none;
}
.MainPage nav form input::placeholder{
    font-style: italic;
}
.MainPage .latest{
    padding: 1% 0;
    color: red;
    transition: all .4s;
    width: fit-content;
    margin-left: 4%;
    position:relative;
}
.MainPage .latest:after {
    display:block;
    content: '';
    border-bottom: solid 2px red;  
    transform: scaleX(0);  
    transition: all 250ms;
  }
  .MainPage .latest:before{
    position:absolute;
    bottom:1.2em; left:0;
    width:100%;
  }
.MainPage .latest:hover:after { 
    transform: scaleX(1); 
}
.MainPage .show_movies .error {
    text-align: center;
    height: 90vh;
    padding-top: 20%;
}